<section class="movie-container">
  <header class="header">
    All Movie Ideas
  </header>
  <%= render partial: "create" if current_user %>
  <% @movies.each do |movie| %>
    <section class="movie-card">
      <section class="movie">
        <center class="title"><%= link_to movie.title, movie_path(movie) %></center>
        <center><%= movie.description %><br></center>
        Total Ratings: <%= movie.total_rating %><br>
      </section>
    </section>
  <% end %>
</section>
