<section class="home">
  <header class="header">
    <center>Welcome <br> to  the <br> Movie  Idea  Box</center>
  </header>
  <center>New user?<br> <%= link_to "Sign up", new_user_path %><br>
  Returning user?<br> <%= link_to "Log in", login_path %></center>
</section>
