<section class="home">
  <header class="header">
    <center>Welcome <br> to  the <br> Movie  Idea  Box</center>
  </header>
  <section class="home-login">
    New user? <%= link_to "Sign up", new_user_path %>
  </section>
  <section class="home-login">
    Returning user? <%= link_to "Log in", login_path %>
  </section>
</section>
