<section class="categories">
  <header class="header">Admin Categories</header>
  <header class="sub-header">Don't see what you are looking for? <br><%= link_to "Create New Category", new_admin_category_path %></header>
  <% @categories.each do |category|  %>
  <section class="category">
    <section class="category-title">
      <center><%= link_to category.name, category_path(category) %></center>
    </section>
    <section class="utility">
      <section class="utility-edit">
        <%= link_to "Edit", edit_admin_category_path(category) %>
      </section>
      <section class="utility-delete">
        <%= link_to "Delete", category_path(category), method: "delete" %>
      </section>
    </section>
  </section>
<% end %>
</section>
