/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0px;
   font-family: 'Monoton', cursive;
   font-family: 'Oswald', sans-serif;
   background-image: url(https://images.unsplash.com/photo-1465066989788-372fcdde2f2c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2640dbc2e5d75ac77e6931d11a7a6061&auto=format&fit=crop&w=2850&q=80);
 }

 a {
   text-decoration: none;
   color: #FCFA62;
 }

 a:hover {
   color: #FEF8D5;
 }

 a:active {
   color: #FCFA62;
 }

 .body-container {
   width: 100%;
   height: 100%;
   background: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .home {
   width: 50%;
   height: 710px;
   border: 20px dotted #FCFA62;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .home h1 {
   font-size: 42px;
   font-family: 'Monoton';
   margin: 25px;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center
 }

 .home .header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 40px;
 }

 .home-login {
   margin-bottom: 3px;
 }

 .main-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 80%;
   height: 40%;
   min-height: 730px;
   background-color: #888;
   border: 10px ridge #A05350;
 }

 .nav {
   position: sticky;
   top: 0px;
   width: 100%;
   height: 30px;
   background: #A05350;
   border-bottom: 10px ridge #A05350;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .nav-links a {
   margin: 20px;
 }

 .nav-user a {
   margin: 20px;
 }

 .movie-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
 }

 .movie-card {
   border-style: solid;
   border-width: 58px 82px 74px 83px;
   border-image: url(https://i.pinimg.com/736x/bc/c2/0c/bcc20cac6d2ab9b15c997d93f534a7da--page-borders-spotlight.jpg) 72 67 72 stretch;   display: flex;
   height: 250px;
   width: 500px;
   margin: 20px;
 }

 .movie-title {
   background-color: #000;
   font-size: 20pt;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 35%;
   overflow: scroll;
   color: #fff
 }

 .movie {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   overflow: scroll;
   color: #fff;
   background-color: #000;
   border-radius: 1px;
 }

 .create {
   width: 100%;
   height: 75px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .header {
   width: 100%;
   height: 75px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Monoton';
   font-size: 35px;
 }

 .title {
   width: 100%;
   height: 75px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Monoton';
   font-size: 35px;
 }

 .sub-header {
   width: 100%;
   height: 75px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 35px;
 }

 .movie-description {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   height: 200px;
   overflow: scroll;
   text-shadow: 2px #fff;
 }

 .utility {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-end;
   width: 100%;
   height: 50px;
 }

 .utility-edit {
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
 }

 .utility-edit a{
   display:flex;
   justify-content: center;
   width: 100px;
   background-color: #A05350;
 }

 .utility-delete {
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
 }

 .utility-delete a {
   display:flex;
   justify-content: center;
   width: 100px;
   background-color: #A05350;
 }

 .upvote input {
   background: #d6656a;
   background: linear-gradient(#964946, #d6656a);
   padding: 5px 10px;
   border-radius: 11px;
   color: #fcf962;
   font-size: 13px;
   min-width: 100px;
   text-decoration: none;
   outline: none;
   cursor: hand;
   }

.upvote input:active {
   background: #964946;
   }

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.category {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  border: 5px dotted #FCFA62;
  margin: 20px;
}

.category-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  height: 100%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.image-header {
  font-family: 'Monoton';
  font-size: 20pt;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin: 10px;
}

.form-container {
  border: 1px solid #a05250;
  background: #a05250;
  border-radius: 8px;
  box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
  vertical-align: middle;
  min-width:300px;
  padding:20px;
  width:300px;
  max-height: 301px;
  color: #fcf962;
 }

.form-movie-container {
  border: 1px solid #a05250;
  background: #a05250;
  border-radius: 8px;
  box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
  vertical-align: middle;
  min-width:300px;
  padding:20px;
  width: 90%;
  color: #fcf962;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

.form-field {
  border: 1px solid #000000;
  background: #888888;
  border-radius: 4px;
  color: #000000;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  padding:8px;
  margin-bottom:20px;
  width: 250px;
 }

.form-field:focus {
  background: #cccccc;
  color: #000000;
 }

.form-container h2 {
  text-shadow: #fdf2e4 0 1px 0;
  font-size:18px;
  margin: 0 0 10px 0;
  font-weight:bold;
  text-align:center;
 }

.submit-container {
  margin:8px 0;
  text-align:right;
 }

.submit-button {
  border: 1px solid #000000;
  background: linear-gradient(#fcf962, #c2be4b);
  border-radius: 5px;
  box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
  text-shadow: #888888 0 1px 0;
  color: #000000;
  padding: 8.5px 18px;
  font-size: 14px;
  vertical-align: middle;
 }

 .submit-button:hover {
  border: 1px solid #000000;
  text-shadow: #888888 0 1px 0;
  background: linear-gradient(#c2be4b, #fcf962);
  color: #000000;
 }

.submit-button:active {
   text-shadow: #888888 0 1px 0;
   border: 1px solid #000000;
   background: #fcf962;
   color: #000000;
 }
