/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0px;
   font-family: 'Pacifico', cursive;
   font-family: 'Oswald', sans-serif;
   background-image: url(https://images.unsplash.com/photo-1465066989788-372fcdde2f2c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2640dbc2e5d75ac77e6931d11a7a6061&auto=format&fit=crop&w=2850&q=80);
 }

 a {
   text-decoration: none;
   color: #FCFA62;
 }

 a:hover {
   color: #FEF8D5;
 }

 a:active {
   color: #FCFA62;
 }

 .body-container {
   width: 100%;
   height: 100%;
   background: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .home {
   font-family: 'Oswald';
   width: 50%;
   height: 40%;
   border: 20px dotted #FCFA62;
   padding: 20px;
 }

 .home h1 {
   font-size: 42px;
   font-family: 'Pacifico';
   margin: 235px;
 }

 .main-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 80%;
   height: 40%;
   min-height: 730px;
   background-color: #b7a19e;
   border: 10px ridge #A05350;
 }

 .nav {
   position: sticky;
   top: 0px;
   width: 100%;
   height: 30px;
   background: #A05350;
   border-bottom: 10px ridge #A05350;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .nav-links a {
   margin: 20px;
 }

 .nav-user a {
   margin: 20px;
 }

 .movie-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
 }

 .movie-card {
   border: 20px dotted #FCFA62;
   display: flex;
   height: 250px;
   width: 500px;
   margin: 20px;
   padding: 5px;
 }

 .movie-title {
   background-color: #A05350;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   font-size: 20pt;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 35%;
 }

 .movie-side {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 65%;
 }

 .create {
   width: 100%;
   height: 75px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .header {
   width: 100%;
   height: 75px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Pacifico';
   font-size: 35px;
 }

 .utility {
   display: flex;
 }

 .utility-edit {

 }

 .utility-delete {

 }
