<section class="form-container">
  <%= form_for ["admin", @image] do |f| %>

  <%= f.label :url %>
  <br>
  <%= f.text_field :url, :class => "form-field" %>

  <section class="submit-container">
    <%= f.submit :class => "submit-button" %>
  </section>

  <% end %>
</section>
