<header class="header">All Images</header>
<header class="sub-header">Not finding the image you want? <br><%= link_to "Create one here", new_admin_image_path %></header>
<section class="images">
  <% @images.each do |image| %>
  <section class="image">
    <%= image_tag("#{image.url}") %>
  </section>
  <% end %>
</section>
