<!DOCTYPE html>
<html>
  <head>
    <title>MovieIdeas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main class="body-container">
      <section class="main-container">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
