<!DOCTYPE html>
<html>
  <head>
    <title>Movie Ideas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Pacifico" rel="stylesheet">
  </head>

  <body>
    <main class="body-container">
      <section class="main-container">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
